* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 10px;
  max-width: 720px;
  text-align: center;

  button {
    padding: 5px;
    font-family: inherit;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mt-10 {
    margin-top: 10px;
  }
}

.messages {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  list-style: none;
  .message {
    margin: 5px 0;
    padding: 5px 10px;
    padding-left: 32px;
    position: relative;
    border-radius: 10px;
    background-color: rgb(231, 229, 229);
  }
  .currentUserMessage {
    align-self: flex-end;
    background-color: rgba(42, 117, 255, 0.336);
  }
  .name {
    color: blue;
  }
}

.inputMessage {
  position: relative;
  .wrapperMedia {
    position: absolute;
    bottom: 50px;
    right: 0;
  }
}

.InputMessageMedia {
  padding: 20px;
  border: 1px solid blue;
  border-radius: 10px;
  background-color: white;
}

.buttonQuote {
  width: 25px;
  position: absolute;
  top: 0;
  left: 0;
}

.inputMessageQuote {
  margin-top: auto;
  padding-left: 32px;
  display: inline-block;
  align-self: center;
  position: relative;
}

.tooltipI {
  color: red;
  text-transform: none;
}
.tooltipName {
  text-transform: none;
  color: #800080;
  border-bottom: 1px solid black;
}

.tooltipButton {
  padding: 0 !important;
  justify-content: start !important;
}
